{% extends 'account_layout.html' %}
{% block account_content %}


<form action="" method="POST" enctype="multipart/form-data">
    {{ accform.hidden_tag() }}
    <fieldset class="form q-form">
        <div class="form-group">
            {{ accform.name.label(class="form-control-label") }}

            {% if accform.name.errors %}
            {{ accform.name(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
                {% for error in accform.name.errors %}
                <span >{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ accform.name(class="form-control form-control-md") }}
            {% endif %}
        </div>
        <div class="form-group">
            {{ accform.price.label(class="form-control-label") }}

            {% if accform.price.errors %}
            {{ accform.price(class="form-control form-control-md is-invalid") }}
            <div class="invalid-feedback">
                {% for error in accform.price.errors %}
                <span >{{ error }}</span>
                {% endfor %}
            </div>
            {% else %}
            {{ accform.price(class="form-control form-control-md") }}
            {% endif %}
        </div>
        <div class="form-group ">
        {{ accform.picture.label() }}

        {{ accform.picture(class="form-control-file ") }}

        {% for error in accform.picture.errors %}
            <span class="text-danger">
                {{ error }}
            </span>
        {% endfor %}
    </div>

        <div class="form-group">
            {{ accform.submit(class="btn btn-primary") }}
        </div>
    </fieldset>
</form>
{% for post in posts %}
<div class="outline-border">
    <a href="#">
        <b>
            Q{{ post.id }}. {{ post.ques }}
        </b>
    </a>
    {% if post.answers %}
    {% for ans in post.answers %}
    <div style="padding-bottom: 20px;">
        <p>
            <b>Answer by {{ post.answer.author.firstname }} </b>
            {{ ans.sol }}
        </p>
    </div>

    {% endfor %}
    {% else %}
    <div>
        <small>
            No answers found
        </small>
    </div>
    {% endif %}
</div>
{% endfor %}

{% endblock account_content %}